body {
    background-color: #ccff00; /* Negro */
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.imagen-contenedor {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.imagen-contenedor:hover {
    transform: scale(1.05);
}

.imagen-contenedor img {
    width: 100%;
    height: auto;
    display: block;
}